@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  body{
    font-family: "Poppins", sans-serif;
    background-image: url(imagenes/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
  }
  
  img{
    max-width: 100%;
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .header{
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 50px 0 0 0;
    background-color: rgba(255, 255, 255, 0.808);
  }

  .menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    color: #e22717;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Bebas Neue', sans-serif;
  }

  .menu  .navbar ul li{
    position: relative;
    float: left;
  }

  .menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: #040100;
  }

  .menu .navbar ul li a:hover{
    color: #e22717;
  }

  #menu{
    display: none;
  }

  .menu-icono{
    width: 25px;
  }

  .meenu label{
    cursor: pointer;
    display: none;
  }

  .header-content{
    display: flex;
    align-items: center;
  }

  .header-txt{
    flex-basis: 50%;
  }

  .header-txt h1 {
    font-size: 100px;
    line-height: 1;
    color: #040100;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 25px;
  }

  p {
    color: #232323;
    font-size: 17px;
    margin-bottom: 35px;
  }

  .btn-1{
    display: inline-block;
    padding: 13px 35px;
    color: #ffff;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #e22717;
    border-radius: 25px;
  }

  .btn-1:hover{
    background-color: #040100;
  }

  .header-img{
    flex-basis: 50%;
  }

.header-img img{
    width: 850px;
}

.information{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.information-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-box{
    flex-basis: 50%;
    display: flex;
}

.card-1{
    flex-basis: calc(50%-100px);
    background-color: rgba(255, 255, 255, 0.345);
    border-radius: 25px;
    margin-right: 50px;
    text-align: center;
    padding: 20px;
}

.card-1 img{
    width: 150px;
    margin-top: -70px;
}

.card-1 h3{
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #040100;
}

.card-1 p{
    margin-bottom: 10px;
}

.card-1 span{
    color: #e22717;
    font-weight: 700;
}

.information-txt{
    flex-basis: 50%;
}

h2{
    color: #040100;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 30px;
}

.general{
    padding: 50;
}

.general-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general.txt{
    flex-basis: 50%;
    margin: 0 50px;
}

.general-img{
    text-align: center;
    flex-basis: 50%;
}

.app{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.app-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-img{
    flex-basis: 50%;
    text-align: center;
}

.app-img img{
    width: 300px;
}

.app-txt{
    flex-basis: 50%;
}

.app-icons img{
    width: 150px.0;
}

.contact{
    padding: 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.contact-content{
    text-align: center;
    padding: 0 100px;
}

.foter{
    padding: 100px 0 50px 0;
    background-color: rgba(255, 255, 255, 0.808);
}

.foter-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    color: #040100;
    font-size: 17px;
    margin-bottom: 10px;
}

.link a {
    font-size: 17px;
    color: #040100;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #e22717;
}
@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffbd4c;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

#menu:checked ~ .navbar{
    display: initial;
}

.header{
    min-height: 0vh;
    padding: 80px 0 30px 0;
}

.header-content{
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

.header-txt{
    margin-bottom: 35px;
}

.header-txt h1{
    font-size: 80px;
}

.header-img{
    text-align: center;
}

.header-img img{
    width: 100%;
}

.information{
    padding: 20px;
}

.information-content{
    flex-direction: column;
    text-align: center;
}

.information-box{
    justify-content: space-between;
}

.card-1{
    flex-basis: calc(50% - 20px);
    margin-right: 0;
    padding: 20px;
}

.general{
    padding: 0 20px 0 20px;
}

.general-content{
    flex-direction: column;
    text-align: center;
}

.header-txt{
    margin: 0 0 20px 0;
}

.general-img{
    order: 2;
}

.app{
    padding: 20px;
}

.app-content{
    flex-direction: column;
    text-align: center;
}

.app-txt{
    margin-bottom: 25px;
}

.app-img{
    order: 2;
}

.app-img img{
    width: 50%;
}

.contact{
    padding: 20px;
}

.contact-content{
    padding: 0;
}

.foter{
    padding: 20px;
}

.foter-content{
    flex-direction: column;
    text-align: center;
}

}
